<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
</head>
<body>
    <div id="header">
        <div class="titulo">
            <a href="/Categoria/Index">
                <img src="~/Content/Images/Carofourm.png" title="Carofour" />
                <span>Carofour produtos e alimentos orgânicos</span></a>
        </div>
    </div>
    <div id="main" class="corpo">
        @RenderBody()
    </div>
    <div class="footer" id="footer">
        Carofour 2012 - contato: contato@carofour.com.br
    </div>
</body>
</html>
