@{
    ViewBag.Title = "InformacoesDaCompra";
}

<div class="main-content">
    <div class="numeroPedido">
        <label>Número do Pedido: 12</label>
    </div>    

    <br />

    <div class="left borda">
        <label>Produto: Carne Moída</label>
        <label>Descrição: Carne Moída bonita</label>
        <label>Preço: R$ 12,30</label>
        <br />
        <label>Produto: Farinha de Trigo</label>
        <label>Descrição: Farinha de Trigo bonita</label>
        <label>Preço: R$ 2,20</label>
    </div>

    <div class="right borda">
        <label>Nome do Usuário: Rodolfo</label>
        <label>Endereço: Rua Panamá, 29, SC</label>
        <label>E-mail: rodolfo@gmail.com</label>
    </div>
</div>